:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --bluecc: #17103C;
  --orangecc: #FA744F;
}
* {
  box-sizing: border-box;
}


.bg-bluecc {
  background-color: var(--bluecc);
  color: white;
}
.bg-orangecc {
  background-color: var(--orangecc);
}
.text-bluecc {
  color: var(--bluecc);
}
.text-orangecc {
  color: var(--orangecc);
}
.border-bluecc {
  border-color: var(--bluecc);
}
.border-orangecc {
  border-color: var(--orangecc);
}

/* TYPOGRAPHY */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Airbnb Cereal App";
  font-size:20px;
  color: var(--bluecc);
}



.text-small{
 font-size: 0.5rem;
}
.text-3xm{
 font-size: 0.7rem;
}
.text-2xm{
 font-size: 0.8rem;
}
.text-xm{
 font-size: 0.9rem;
}

.text-xl{
 font-size: 1.25rem;
}
.text-2xl{
 font-size: 1.5rem;
}
.text-3xl{
 font-size: 1.75rem;
}
.text-big{
 font-size: 2.5rem;
}



.font-xbold {
  font-weight: 800;
}
.font-bold {
  font-weight: 500;
}



body {
  
}
.container {
  max-width: 1100px;
  margin: auto;
}

/*  */

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */


/* Posts list */

