:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --bluecc: #17103C;
  --orangecc: #FA744F;
}
* {
  box-sizing: border-box;
}


.bg-bluecc {
  background-color: var(--bluecc);
  color: white;
}
.bg-orangecc {
  background-color: var(--orangecc);
}
.text-bluecc {
  color: var(--bluecc);
}
.text-orangecc {
  color: var(--orangecc);
}
.border-bluecc {
  border-color: var(--bluecc);
}
.border-orangecc {
  border-color: var(--orangecc);
}



/*  */

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */


/* Posts list */

